 <main class="container">
    <div class="row">
      <section class="col-md-6 my-5 offset-md-3">
        <div class="card card-item shadow p-5">
          <div class="alert alert-success hide">
            <h3>Thank You For Subscribing!</h3>
          </div>
          <form
            id="regiration_form_step1"
            class="needs-validation"
            novalidate
          >
            <h4 class="text-center text-uppercase mb-4">
              Subscribe and get a special B-Day treat!
            </h4>
            <hr />

            <div class="form-group">
              <label for="firstName">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
                value=""
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
                required
              />
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="day">Day</label>

                <select class="custom-select d-block w-100" id="day">
                  <option class="u-hide" disabled selected value
                    >Select</option
                  >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="month">Month</label>

                <select class="custom-select d-block w-100" id="month">
                  <option class="u-hide" disabled selected value
                    >Select</option
                  >
                  <option value="1">Gennaio</option>
                  <option value="2">Febbraio</option>
                  <option value="3">Marzo</option>
                  <option value="4">Aprile</option>
                  <option value="5">Maggio</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Submit
            </button>
          </form>

          <form
            id="regiration_form_step2"
            class="hide needs-validation"
            novalidate
          >
            <h4 class="text-center text-uppercase mb-4">
              We would love to learn more about you!
            </h4>
            <hr />

            <div class="form-group">
              <label for="firstName">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
                value=""
              />
            </div>

            <div class="form-group">
              <label for="lastName">Last name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder=""
                value=""
              />
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="phone">Phone</label>
                <input
                  class="form-control"
                  type="text"
                  id="phone"
                  name="phone"
                  placeholder=""
                  value=""
                  required
                />
              </div>
              <div class="col-md-6 mb-3">
                <label for="refer">How did you hear about us?</label>
                <select class="custom-select d-block w-100" id="refer">
                  <option class="u-hide" disabled selected value
                    >Select</option
                  >
                  <option value="1">Facebook</option>
                  <option value="2">Instagram</option>
                  <option value="3">Friend</option>
                  <option value="4">Magazine</option>
                  <option value="5">TV</option>
                  <option value="6">Other</option>
                </select>
              </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Submit
            </button>
          </form>
        </div>
      </section>
    </div>
  </main>

{% stylesheet %}
  .hide {
    display: none;
  }
  .card-item {
    min-height: 501px;
  }
{% endstylesheet %}
